@import url('https://fonts.googleapis.com/css2?family=Petrona:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Petrona:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins,sans-serif;
}
.flexbox{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 120px;
    background: rgba(0,0,0,0);
    gap: 10%;
    position: fixed;
    z-index: 10;
    transition: 0.5s;
}
nav.scrolled {
    background-color: rgba(0,0,0,.8);
    height: 90px;
}
.logo{
    gap: 10px;
    width: 30%;
    position: relative;
    justify-content: flex-start;
    color: white;
}
.logo img{
    width: 60px;
    height: 60px;
}
.logo h1{
    font-family: Playfair+Display;
    font-size: 3vw;
}
.logo h1 span{
    color: rgb(252, 76, 76);
}

nav ul{
    gap: 10%;
    width: 50%;
    font-size: 1.5vmax;
}

nav ul li{
    list-style: none;
    position: relative;
    height: 40px;
    overflow: hidden;
    width: auto;
}
nav ul li::before{
    content: '';
    position: absolute;
    width: 100%;
    background-color: rgb(252, 76, 76);
    height: 4px;
    border-radius: 100px;
    bottom: 7px;
    transform: translateX(-100%);
    transition: 0.5s;
    transition-delay: 0.3s;
}
nav ul li:hover::before{
    transform: translateX(0%);
}
nav ul li a{
    text-decoration: none;
    color: white;
    transition: 0.5s;
}
nav ul li a:hover{
    color: rgb(252, 76, 76);
}

nav ul li.login{
    background-color: white;
    width: 100px;
    border-radius: 20px;
    margin-top: -7px;
    transition: 0.5s;
}
nav ul li.login:hover{
    background-color: white;
    width: 100px;
    border-radius: 20px;
    margin-top: -7px;
    box-shadow: 4px 4px 10px rgba(0,0,0,.5);
    transform: translateY(-4px);
    background-color: #AB87FF;
}
nav ul li.login::before{
    display: none;
}
nav ul li.login:hover a{
    color: white;
}
nav ul li.login a{
    color: black;
}
.land-container{
    width: 100%;
    height: 100vh;
    background-size: cover;
    animation: changebg 30s ease-in-out infinite;
    flex-direction: column;
    z-index: 1;
    position: relative;
    gap: 20px;
}
.land-container::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0,0,0,0.3);
}

@keyframes changebg {
    0%{
        background: url(images/bg1.jpg);
        background-size: cover;
    }
    16.6%{
        background: url(images/bg1.jpg);
        background-size: cover;
    }
    20%{
        background: url(images/bg2.jpg);
        background-size: cover;
    }
    36.6%{
        background: url(images/bg2.jpg);
        background-size: cover;
    }
    40%{
        background: url(images/bg3.jpg);
        background-size: cover;
    }
    56.6%{
        background: url(images/bg3.jpg);
        background-size: cover;
    }
    60%{
        background: url(images/bg4.jpg);
        background-size: cover;
    }
    76.6%{
        background: url(images/bg4.jpg);
        background-size: cover;
    }
    80%{
        background: url(images/bg5.jpg);
        background-size: cover;
    }
    96%{
        background: url(images/bg5.jpg);
        background-size: cover;
    }
    100%{
        background: url(images/bg1.jpg);
        background-size: cover;
    }
}

.land-container h1{
    font-family: Poppins;
    color: white;
    font-size: 5vw;
    text-shadow: 2px 2px 5px rgba(0,0,0,.5);
    color: white;
    z-index: 3;
}
.land-container h2{
    font-size: 3vw;
    color: white;
    text-shadow: 4px 4px 5px rgba(0,0,0,.5);
    z-index: 3;
}

.land-container button{
    width: 200px;
    height: 50px;
    border-radius: 50px;
    font-size: 20px;
    border: 1px solid black;
    color: white;
    background-color: #AB87FF;
    transition: 0.5s;
    position: relative;
    z-index: 3;
}

.land-container button:hover{
    width: 240px;
    letter-spacing: 2px;
    background-color: #9264ff;
    font-size: 22px;
}

.goal{
    width: 100%;
    height: 90vh;
    background: linear-gradient(to bottom, 
  rgb(238, 252, 255) 0%, 
  rgb(240, 252, 255) 20%, 
  white 100%);
    position: relative;
    flex-direction: column;
}
.goal .container{
    width: 80%;
    gap: 70px;
    color: rgb(40,40,40);
}

.goal .container .animated{
    width: 300vw;
    height: 100%;
}
.goal .container .animated .mainimg{
    width: 100%;
}

.features{
    width: 100%;
    height: 100vh;
    align-items: flex-start;
}
